[2012-11-21 21:29] Viper007Bond opened #2 "Add wp-cli command for regenerating thumbnails"
When you're regenerating large numbers of thumbnails, it's better to do it via the CLI than via AJAX requests. I need to add a new [wp-cli](http://wp-cli.org/) command to take care of this.

[2012-11-21 21:31] Viper007Bond opened #3 "Better AJAX error handling"
- Use output buffering to make sure nothing other than the JSON is returned.
- Better checking in the Javascript to make sure JSON was actually returned. I blindly expect JSON in the result of an error right now which means garage Javascript gets outputted when there's an error.

[2013-01-29 13:28] prasadnevase commented on #2
@Viper007Bond could you please tell if this has been implemented? I was searching for solution and landed up here: http://benmay.org/2013/01/27/batch-resizing-45000-images-in-wordpress/ Not sure if this is the solution. Could you please confirm?

[2013-01-30 04:57] Viper007Bond commented on #2
No, this functionality has not been added to my plugin yet.

[2013-01-30 13:46] prasadnevase commented on #2
If code given in above link is really worth it then can you please add that to your plugin and do a minor release? If yes can you please let me know when will you be releasing it?

[2013-01-30 20:49] Viper007Bond commented on #2
The functionality is worth adding but I'm on Windows and I haven't had a chance to get WP-CLI working locally (it requires setting up a virtual machine). That's the main blocker, besides time.

The above link is doesn't need my plugin to run and when I do implement this functionality into my plugin, I'll go about it in a different way that makes use of my existing code.

However if you're capable

[2013-01-31 14:46] prasadnevase commented on #2
Okay thanks, will take necessary backups and will give it a shot!

[2013-02-24 15:36] maor commented on #2
I just love this idea!

[2013-04-15 01:55] scribu commented on #2
Note that WP-CLI now has `wp media regenerate` built in.

[2013-04-15 22:46] Viper007Bond commented on #2
Cool, then marking this as resolved. :)

[2013-04-15 22:46] #2 closed, assigned to Viper007Bond

[2013-11-21 17:05] emaildano opened #7 "Output image sizes during regen process."
This isn't an issue but a feature idea. I'd be happy to work on this and create a pull request if you can see it being a possibility.

It would be nice to get a reference of what image sizes are being created. I know most of these dimensions are setup when in my functions file but sometimes I'm not the only one creating these values.

A recap of the dimensions would be great.

Thoughts on this?

[2014-05-21 16:12] emaildano opened #10 "Skip SVGs to avoid failure notices"
This is a feature request. I can try to create a pull request for this as-well. When SVGs are in the media library regen thumbnails counts them as an error. Skipping them or listing X number of SVGs skipped would be a better setup.

[2014-09-11 09:34] helgatheviking opened #11 "Support for WordPress 4.0 media grid"
The `media_row_actions` filter is not being used in the 4.0 media grid, nor its pop-up modal windows.
There's a trac ticket about this already, but it is marked as 'wontfix'  and Helen suggests using the `attachment_fields_to_edit` filter. Based on Swift's reply in the trac ticket, I've come up with the following:

[code]

and the callback

[code]

This results in

![image](https://cloud.githubuse

[2014-09-12 01:19] Viper007Bond commented on #11
Thanks for the report. I'll try to take a look soon.

[2014-09-12 10:19] helgatheviking commented on #11
That'd be great! I hope the info helps a little.

[2014-10-01 20:31] devinsays opened #13 "Notify if GD & ImageMagick Aren't Available"
Occasionally servers don't have the required libraries installed for image resizing, which means the script doesn't do anything even though it still runs. I've run into this supporting a couple themes.

I think it would be good for the plugin to throw a notice in these edge cases.

[2015-04-24 03:20] Viper007Bond commented on #10
SVGs aren't supported by WordPress out of the box, so this is pretty low priority.

[2015-04-24 03:24] Viper007Bond commented on #3
Hopefully fixed by #4.

[2015-04-24 03:24] #3 closed, assigned to Viper007Bond

[2015-04-24 03:26] Viper007Bond commented on #7
Pull request at #8

[2015-04-24 03:26] #7 closed, assigned to nobody

[2015-04-28 04:23] #11 closed, assigned to nobody

[2015-05-27 20:39] emaildano commented on #10
@Viper007Bond, it makes sense. To get SVGs in WP it takes a bit of editing anyway so it's not a common thing to do.

I image it's something simple like, check mime type, if X than skip it. I don't know of any other mime types that my fit into this but they could go into that array to be skipped.

[2015-05-29 18:09] Viper007Bond commented on #10
Yeah, right now I'm looking for `image/*` but I need to be a bit more selective than that when looking for things to resize. I'm guessing there's a helper function somewhere that I need to use instead.

[2015-07-12 09:01] JD-Robbs opened #20 "Undefined Index Notice"
Hi there,

Very useful plugin!

When searching for products in my WooCommerce back-end, I get the following notice:

`Notice: Undefined index: action2 in /wp-content/plugins/regenerate-thumbnails/regenerate-thumbnails.php on line 121`

So, I suppose it needs a check for existence before using it.

[2015-07-15 23:12] Viper007Bond commented on #20
This will be fixed in v2.3.0. Thanks! :)

[2015-11-09 13:58] jabcka commented on #20
Still getting this error after submitting a post:

Notice: Undefined index: action2 in /wp-content/plugins/regenerate-thumbnails/regenerate-thumbnails.php on line 121

[2015-11-10 03:23] Viper007Bond commented on #20
As mentioned above, this will be fixed in v2.3.0, which isn't out yet (I'm doing a major overhaul). I don't want to put out a new release just to fix this very minor issue because notices are meant for development environments not production ones so it's not something that you should be seeing. Fix your server's error reporting level. ;)

[2015-12-02 09:30] Viper007Bond opened #21 "Add pause button"
I'm already working on overhauling the whole process, but it was suggested that I add a pause button. Makes sense.

See https://wordpress.org/support/topic/feature-request-add-a-pause-button

[2015-12-06 04:38] MarceloPedra commented on #21
Thank you!. Just bumping here to get alerted when it's marked as solved. :)

[2015-12-06 07:24] Viper007Bond commented on #21
For future reference, if you want alerts you can just click on the subscribe button on the right side under "Notifications" rather than having to leave a comment. :)

[2015-12-06 11:39] MarceloPedra commented on #21
Thanks :)

[2015-12-07 08:56] Viper007Bond commented on #13
Added in https://github.com/Viper007Bond/regenerate-thumbnails/commit/4f3924e3f1605c659fd53b7d49ab424bb18a591e

[2015-12-07 08:56] #13 closed, assigned to nobody

[2015-12-07 15:03] devinsays commented on #13
Thanks so much! Also, I learned a new function. No idea wp_image_editor_supports existed.

[2015-12-07 19:04] Viper007Bond commented on #13
Me either. I stumbled across it while looking at the WP-CLI media regeneration code (I'm in the process of rewriting this plugin).

[2015-12-10 09:33] robertkent opened #24 "PHP 7 Class Method"
For PHP7 we need to update the class initialisation to use a construct.

Deprecated: Methods with the same name as their class will not be constructors in a future version of PHP; RegenerateThumbnails has a deprecated constructor in /httpdocs/wp-content/plugins/regenerate-thumbnails/regenerate-thumbnails.php on line 32

[2015-12-11 01:41] Viper007Bond commented on #24
Was fixed in https://github.com/Viper007Bond/regenerate-thumbnails/commit/a2e3fdb8167204d53b28300a18031da85a53fa19 in the development version over 3 years ago  which _still_ hasn't been released. I really need to get off my ass and finish this rewrite. :)

[2015-12-11 01:41] #24 closed, assigned to nobody

[2015-12-11 01:42] Viper007Bond commented on #24
For some reason I was thinking that the changes like that had been released while the more major changes I'm currently working on hadn't. Oops.

[2015-12-26 23:48] Viper007Bond opened #25 "Allow regenerating of specific sizes"
If only one size is new or modified, then there's no reason to regenerate all sizes.

Easiest way to do this off the top of my head is probably to modify the global thumbnails variable, extract the current meta data from the attachment, regenerate as if only certain sizes existed, and then merge the old meta data with the new.

[2015-12-30 09:03] sarukuku opened #26 "When is the 3.0.0 coming out?"
Just wondering. People are starting to upgrade to PHP 7.0 and are probably seeing at least the alert of the constructor.

[code]

[2015-12-30 09:40] Viper007Bond commented on #26
I've been making very slow progress, partially due to feature bloat, but maybe I'll trim some of that stuff back for a future version. I still want to finish rewriting it for 3.0.0 though.

Meanwhile I'll push out a 2.x version with a quick fix for that.

However aren't deprecated warnings normally off on a production server? They're more an error message meant for development servers.

[2015-12-30 09:40] #26 closed, assigned to nobody

[2015-12-30 09:53] Viper007Bond opened #27 "Update thumbnail URLs in posts"
Posts hard-code the URL to thumbnails meaning that if you change the size of a thumbnail that's used in a post, it's not updated in past posts.

Iterate over posts, regex out the size from the attributes, and then update the `href` tag on the image with the fresh size.

This likely won't make the cut for v3.0.0 but instead a future version.

[2015-12-30 09:53] Viper007Bond opened #28 "Offer to delete old thumbnails"
Offer to delete old, unused thumbnail sizes. A few things to take into consideration:
- Posts hard-code the URLs to thumbnails so this is going to break posts potentially. Warn users. See also: #27.
- If only resizing certain sizes (see #25), then don't delete other sizes.

Infact, maybe the deletion can be done after by looking at the known thumbnails and then looking for `filename-*x*.ext`, dele

[2015-12-30 09:55] Viper007Bond commented on #28
Might make it into v3.0.0 -- we'll see.

[2015-12-30 11:16] sarukuku commented on #26
Sounds good and Yes they are. Just wanted to give you a heads up. :)

[2015-12-31 11:27] Viper007Bond commented on #26
https://plugins.trac.wordpress.org/changeset/1318415/regenerate-thumbnails

[2015-12-31 11:28] sarukuku commented on #26
Thanks man :+1:

[2016-01-28 10:40] nonlinearcom commented on #21
+1

[2016-02-10 05:52] lutrov opened #29 "Admin screen heading tags with WordPress 4.4"
The software uses incorrect headings in admin screens. See https://make.wordpress.org/core/2015/10/28/headings-hierarchy-changes-in-the-admin-screens/ for more.

[2016-02-10 19:13] Viper007Bond commented on #29
Thanks!

I've actually already fixed this in the development version I'm working on, but have yet to release:

https://github.com/Viper007Bond/regenerate-thumbnails/blob/0806fdb920fd0b991e94e9870e688b6e67a60a58/regenerate-thumbnails.php#L302

I need to hurry up and finish it so I can release it. I've been working on it way too long...

[2016-02-10 19:13] #29 closed, assigned to nobody

[2016-03-18 15:25] emdeedee commented on #28
+1 from me!
I would delete all images, that have -_x_.ext of base images that have had sizes just regenerated.   That would leave images that have been uploaded and forgotten alone, even if they have names such as stock-big-dog-100x200.png
Thanks for the great plugin

[2016-03-22 00:06] Viper007Bond opened #30 "Use REST API for AJAX requests"
Switch from admin-ajax to the new REST API. A minimum WordPress version bump will be required.

[2016-05-02 21:30] gretlouise commented on #28
I'd love to see this feature added! It feels ridiculous to leave all the unused images within the site.

[2016-05-04 08:42] mawiswiss opened #31 "Keep custom crop"
I'm using the plugin "Manual Image Crop".
Is there a way to keep the custom crop position after thumbnail regeneration?

[2016-05-05 05:06] Viper007Bond commented on #31
It'd be on the other plugin to do that.

My plugin calls the WordPress functions that run when you upload an image. Cropping plugins are likely manually overwriting the thumbnail images with their custom crops or whatnot. If they store the crop details in post meta or something, then they can hook into the thumbnail generation code to keep that crop.

Alternatively I want to add the ability to reg

[2016-05-05 05:06] #31 closed, assigned to nobody

[2016-06-14 04:15] galbaras commented on #28
Should be good to warn users, but if they choose to delete, just remove anything that doesn't match an existing image size.

+1 from me.

[2016-06-14 04:16] galbaras commented on #27
+1

[2016-06-14 04:18] galbaras commented on #25
+1

BTW, this can either mean "let the user choose a size" or "keep the previous sizes, compare and only regenerate what's changed". I'd love to have the second type, because it's less hassle for the user.

[2016-06-23 09:51] bgrgicak opened #33 "Regenerated image url wrong"
After regenerating images the thumb size displays only the image name without relative uploads folder path (/2016/06/).

[2016-06-23 12:10] #33 closed, assigned to nobody

[2016-06-23 12:11] bgrgicak commented on #33
Sorry my error :)

[2016-07-07 22:29] smerriman opened #34 "Site icon sizes lost after thumbnails regenerated"
WordPress has a special way of creating cropped sizes for site icons (and possibly other images in the customiser?). When thumbnails are regenerated by this plugin, those sizes are overwritten and lost.

This is similar to issue #31, which was closed as it was the responsibility of other plugins to retain their custom sizes. So is it WP core that needs changing, or this plugin?

[2016-07-07 22:37] smerriman commented on #34
Also posted here: https://core.trac.wordpress.org/ticket/37311

[2016-07-07 23:39] Viper007Bond commented on #34
I can probably add some type of exception to skip over that on my side of things, either determining what's being used as the site icon and ignoring it, or if it's some type of custom size, then ignoring that size.

[2016-08-03 07:25] Viper007Bond opened #35 "Option to only resize uploads that are being used as featured images"
As suggested at https://wordpress.org/support/topic/select-only-featured-images-and-add-delay

[2016-08-03 07:26] Viper007Bond opened #36 "Option to sleep between image resizes"
For busy sites.

As suggested at https://wordpress.org/support/topic/select-only-featured-images-and-add-delay

[2016-10-14 14:22] maheshwaghmare opened #38 "Link for view / edit thumbnail"
Now, It hard to see which thumbnail is regenerated. So, If there is any link added for `view` / `edit` that attachment then we'll be easily navigate to that thumbnail.

**Now It looks like this:**

<img src="http://bsf.io/qf4d9" />

**But, Expected:**
<img src="http://bsf.io/08hu5" />

---

[2016-10-14 19:25] Viper007Bond commented on #38
Closing in favor of #39 (no need to open an issue unless you don't plan on submitting a pull request).

[2016-10-14 19:25] #38 closed, assigned to nobody

[2016-12-29 12:21] Brugman opened #41 "Add regenerate link to grid modal and Edit Media page"
I'd like to have a regenerate link/button on the grid modal and Edit Media pages. Mind if I PR this?

The cursor location in the screenshots below marks the easiest/best positions imo.

![2016-12-29-13-15-07](https://cloud.githubusercontent.com/assets/2203813/21543735/684bbf30-cdc9-11e6-87aa-707482657f7a.png)
![2016-12-29-13-16-03](https://cloud.githubusercontent.com/assets/2203813/21543736/6a7f82

[2017-01-04 17:57] Viper007Bond commented on #41
Sounds good to me. 👍

[2017-05-16 05:39] Viper007Bond opened #42 "Create a composer.json file"
There's been a few forks to this plugin strictly to add a `composer.json`, plus Jetpack includes one. Let's follow suit. Can be based on https://github.com/Automattic/jetpack/blob/master/composer.json

[2017-05-23 06:39] galbaras commented on #28
Why not show all the available sizes, label those with inactive sizes as "inactive" and provide checkboxes to direct the regeneration to delete and/or recreate each size?

Making the same interface available for images selected from the media library allows some to be deleted, while others are kept, so uses can do a global job on some sizes and selective jobs on others, if they want to keep some o

[2017-05-26 04:24] Viper007Bond commented on #28
How do you determine if a size is inactive? It could be used within a post. #27 would need to be resolved beforehand.

BTW when you regenerate, only sizes that are currently registered are generated. Old sizes say from old themes aren't regenerated.

[2017-05-26 04:43] galbaras commented on #27
Actually, if a particular size was selected for a post and it's not removed, why change anything?

On the other hand, if sizes are removed (#28), perhaps embedded images should not be deleted.

[2017-05-26 04:45] galbaras commented on #28
[This reply assumes that sizes can be selected]

Alex, as the plugin developer, you don't have to take care of everything for everyone. If you provide options and people use them to mess up their own sites, that's their problem and they should have a backup handy.

It's like a knife manufacturer wanting to ensure nobody would ever use their knife for something bad and not sharpening them. Site own

[2017-08-08 12:11] damiankosiorowski commented on #20
**Please verify the problem again and release the patch.**

[2017-08-10 02:47] Viper007Bond commented on #20
Crap, I never did release v2.3.0, did I? On my phone right now but I'll try to package it up soon.

[2017-09-17 05:39] Viper007Bond commented on #20
It took some work due to mistakes on my part previously but this has _finally_ been released.

[2017-09-17 06:26] Viper007Bond commented on #41
This has been added in v2.3.0.

[2017-09-17 06:26] #41 closed, assigned to nobody

[2017-09-19 05:57] damiankosiorowski commented on #20
I did not check empirically, but it seems that [the problem](https://github.com/Viper007Bond/regenerate-thumbnails/issues/20#issue-94548968) has not been solved.
https://github.com/Viper007Bond/regenerate-thumbnails/commit/3f8c03b650a88fff989f646ddad828d5574d7fc1#diff-12beb360dbcc6a1a3285b3223bf695bbR170

[2017-09-19 06:32] Viper007Bond commented on #20
Ugh, I think you're right. I thought I properly tested this but apparently not. 🤦‍♂️

[2017-09-20 05:30] #20 closed, assigned to nobody

[2017-09-26 23:58] Viper007Bond commented on #35
Dupe of #25

[2017-09-27 07:04] Viper007Bond commented on #25
https://github.com/Viper007Bond/regenerate-thumbnails/commit/7816522bc9f5eaa185e1bd23de80b11f4a28f6f1 for v3.0.0 partially addresses this by only generating missing thumbnail files by default.

[2017-09-28 21:20] Viper007Bond commented on #42
Fixed in https://github.com/Viper007Bond/regenerate-thumbnails/commit/7e7e8af5968b9a778d43214c8f87007b9ed8b1a9

[2017-09-28 21:20] #42 closed, assigned to nobody

[2017-09-28 21:23] Viper007Bond commented on #30
This will make it into v3.0.0.

Initial commit was https://github.com/Viper007Bond/regenerate-thumbnails/commit/d090d39a1cbcf86acde6f79ab594db6b5d42b3e6

[2017-09-28 21:23] #30 closed, assigned to Viper007Bond

[2017-09-28 21:40] Viper007Bond commented on #10
I'm actually going to `Won't Fix` this since SVGs aren't supported out of the box. I'd rather not manually add exceptions for a bunch of unsupported image types. The plugin that's adding SVG support should probably also be hooking into WordPress core and telling WordPress to ignore them.

[2017-09-28 21:40] #10 closed, assigned to nobody

[2017-09-28 23:04] emaildano commented on #10
@Viper007Bond

It's not a plugin, it's just a filter `add_filter( 'upload_mimes',  'mime_types' );`

I get what you're saying though. It would be a pain to add what types you should skip/not support.

Instead what if you just added the ones you do? That list is much shorter and likely never to change.

`if { png, jpg, jpeg, etc. }`

[2017-09-29 00:58] Viper007Bond commented on #10
A plugin is required though to make use of the filter and change the allowed types though. 😉

As for a whitelist, that's not future proof as for example WordPress added thumbnail PDF support in version 4.7. I'm using core WordPress functions to do the thumbnail generation which means that the list of supported upload types that can be thumbnailed is subject to change. Infact plugins could even add

[2017-09-29 01:09] emaildano commented on #10
WP adding support for PDFs would also break this plugin, right? Since they
cannot be resized or regenerated.

Basic gist of this request is skip things that cannot be regenerated. Not
sure how that is up to other plugins or core to handle.

[2017-09-29 01:40] Viper007Bond commented on #10
No, that's exactly my point -- WordPress _can_ potentially make thumbnails for them depending on your server configuration. Support was added in 4.7.

Anyway, what happens when you initially upload a SVG? Well that's exactly what happens when you run my plugin -- it just calls those same thumbnailing functions again. I don't reinvent the wheel and make thumbnails directly. So if a plugin is adding

[2017-09-30 00:16] Viper007Bond commented on #27
Code added to do this in https://github.com/Viper007Bond/regenerate-thumbnails/commit/c7a8c175d1998b89c63495bf1cc32fee7aa6aeb3.

Not closing quite yet as it still needs the UI part.

[2017-09-30 01:16] Viper007Bond commented on #35
Not actually a dupe. Rather than regenerating specific sizes, there needs to be a way to only regenerate the specific attachments that are being used as post thumbnails.

Requested again at https://wordpress.org/support/topic/does-a-decent-job-of-doing-what-i-dont-want-i-to-do/

[2017-09-30 19:46] Brugman commented on #41
Thanks! I remember getting 1 working quickly and then I forgot about finishing it.

[2017-10-01 06:21] grappler commented on #10
I don't fully agree. The plugin currently used `wp_generate_attachment_metadata()` to regenerate the images which is also used when uploading the image but the difference being that WordPress does not give me an error. With this plugin I get `"stylelint" (ID 232) failed to resize. The error message was: Unknown failure reason.`

In `wp_generate_attachment_metadata()` there is an extra check that t

[2017-10-01 20:55] Viper007Bond commented on #10
I can take a second look. Which plugin are you guys using to add SVG support to WordPress?

[2017-10-01 21:01] grappler commented on #10
I used https://wordpress.org/plugins/safe-svg/ to test this.

Originally I had only this line of code to allow admins to upload SVG files.
[code]

Other popular plugins are
https://wordpress.org/plugins/svg-support/
https://wordpress.org/plugins/scalable-vector-graphics-svg/

[2017-10-01 21:14] grappler commented on #10
As there is no filter in the plugin to allow skipping the regeneration, I could use `wp_generate_attachment_metadata` instead. With the following code the error would be `"stylelint" (ID 232) failed to resize. The error message was: Skipping SVG files.`

[code]

That may be a better solution as it works better with WPCLI too.
With the extra code:
[code]

Without the extra code:
[code]

[2017-10-01 21:18] Viper007Bond commented on #10
If WP-CLI is throwing errors too, then it sounds like the responsibility falls to the plugin that's adding SVG support to make sure that `wp_generate_attachment_metadata()` skips over SVG files, no?

[2017-10-01 21:23] Viper007Bond commented on #10
Also the problem with calling `file_is_displayable_image()` is that it would exclude PDFs, which WordPress supports making thumbnail images for.

[2017-10-01 21:27] grappler commented on #10
But the plugin already excludes the PDF's with `'image/' != substr( $post->post_mime_type, 0, 6 )`. There is no regenerate thumbnails button on the edit page for PDF's.

[2017-10-01 21:34] Viper007Bond commented on #10
[I'm currently rewriting the plugin from scratch](https://github.com/Viper007Bond/regenerate-thumbnails/tree/dev/v3-rewrite) and I'm likely to reevaluate that and all of the other UI code.

So I guess let's just put this issue on hold until I get there. I'll certainly keep all of this in mind though when I'm writing the code! 👍

[2017-10-09 16:20] Viper007Bond opened #44 "If fullsize image can't be found, try to adjust the path"
WordPress stores the full path to the fullsize image. If you move servers, this path will often end up wrong.

See if we can use some magic to redo the path and find the fullsize image path again so that fresh thumbnails can be created.

[2017-10-16 20:02] orest22 opened #45 "Possibility to regenerate thumbnail images by post type."
Hey, do you think it's possible to add this feature in nearest future?

[2017-10-17 04:08] Viper007Bond commented on #45
They're all of the post type `attachment`. Or are you talking about only regenerating the thumbnails of attachments that are the children of a certain post type?

[2017-10-19 15:36] itsmrwalsh commented on #21
I know this is probably a bit late now, but I work on some huge WooCommerce sites where people have set their thumbnail setting wrong and I have to undo thousands upon thousands of thumbs and I don't always have SSH access. Throwing my hat in the ring for this +1

[2017-10-21 18:29] Viper007Bond commented on #25
I'm gonna close this in favor of the functionality that only regenerates missing sizes. Easier for the user.

[2017-10-21 18:29] #25 closed, assigned to Viper007Bond

[2017-10-21 18:30] Viper007Bond commented on #27
UI has been handled.

[2017-10-21 18:30] #27 closed, assigned to Viper007Bond

[2017-10-21 18:32] #21 closed, assigned to Viper007Bond

[2017-10-21 18:32] #34 closed, assigned to nobody

[2017-10-21 18:33] #35 closed, assigned to Viper007Bond

[2017-10-21 18:38] #28 closed, assigned to Viper007Bond

[2017-10-22 11:00] galbaras commented on #25
Sorry, just to confirm, there will still be an option to force regeneration of sizes that aren't missing, right?

[2017-10-22 16:23] Viper007Bond commented on #25
Yep.

<img width="762" alt="firefox_2017-10-22_09-22-16" src="https://user-images.githubusercontent.com/406254/31863961-883f054c-b70a-11e7-834f-1be58d7011a1.png">

[2017-10-23 00:42] galbaras commented on #25
Wow, this is awesome! Showing the media sizes is a very good addition, thank you, and nobody will need "that other regeneration plugin" now to delete old files :)

Given the recommendation for the Delete option, I'd move the Update option down one. This way, checking the boxes when deleting will be done in order.

[2017-10-23 01:23] Viper007Bond commented on #25
I made it so that it automatically checks the update posts box if you check the delete box. 😃

I have it at the bottom as I figured most people won't use it to avoid possible 404s (which I need to update the text to mention).

[2017-10-25 04:53] Viper007Bond commented on #44
Well apparently I was wrong. WordPress has stored relative paths for nearly a decade now: https://core.trac.wordpress.org/changeset/8796

[2017-10-25 04:53] #44 closed, assigned to Viper007Bond

[2017-10-29 02:44] orest22 commented on #45
@Viper007Bond Yeah, the second option. Would be nice to have kind of select box with post types. Could be useful for existing websites where user have tons of images, but wants to regenerate only for certain post type.

[2017-10-29 02:44] #45 closed, assigned to nobody

[2017-11-02 00:04] Viper007Bond commented on #45
Did you mean to close this?

[2017-11-13 23:32] Viper007Bond opened #46 "Verify useful error messages for invalid images"
https://wordpress.org/support/topic/symbol-in-image-file-name-causes-immediate-unknown-failure/

[2017-11-13 23:54] Viper007Bond opened #47 "If bulk action redirect URL is too long, possible to redirect using JS and a <form> ?"
https://wordpress.org/support/topic/bug-switch-to-post-requests-for-bulk-regen-because-get-will-reach-url-limit/

Is it possible to ask the server how long of a URL it accepts?

[2017-11-14 00:07] archon810 commented on #47
Here's a good answer https://stackoverflow.com/a/417184.

[2017-11-15 02:41] galbaras commented on #28
Hey, Alex, any idea when the thumbnail cleanup functions will be released?

[2017-11-15 02:44] Viper007Bond commented on #28
They'll be a part of the v3.0.0 release. I'm not sure when that will be released but I'm hoping this month.

[2017-11-15 03:37] Viper007Bond commented on #46
Yeah, already properly handled. Verified by renaming a PHP file to `.jpg` and then uploading it. Trying to run the plugin on it displays useful error messages.

<img width="224" alt="firefox_2017-11-14_19-34-05" src="https://user-images.githubusercontent.com/406254/32817529-255c9018-c973-11e7-9818-882332671d0b.png">

<img width="353" alt="firefox_2017-11-14_19-35-18" src="https://user-images.githu

[2017-11-15 03:37] #46 closed, assigned to Viper007Bond

[2017-11-15 05:37] archon810 commented on #46
Sorry, but this wasn't the case for me, as I mentioned. The error message was about an unknown error. The file was not PHP, but a valid image file (webp), which isn't handled by WP. Get a WebP file and rename it as PNG to reproduce.

[2017-11-15 06:59] Viper007Bond commented on #46
Right, but you're using the latest stable version (v2.x) and my screenshots are from the upcoming v3.x where a useful error message is displayed. :)

[2017-11-15 23:59] archon810 commented on #46
Ah, OK, I thought you were saying it was already handled by existing code.

[2017-11-17 03:03] Viper007Bond commented on #47
I'm pretty sure this isn't fixable by my plugin and is an issue with your server anyway.

As your link says, non-IE browsers should accept stupidly long URLs and servers shouldn't put a limit on the requests.

As for why I can't fix it, the bulk action dropdown that's made by WordPress uses GET, resulting in a URL like this when you use it:

I then redirect to my plugin's page with a _shorter_ URL

[2017-11-17 03:03] #47 closed, assigned to Viper007Bond

[2017-11-21 04:12] Viper007Bond opened #48 "Add support for regenerating PDF thumbnails"
https://wordpress.org/support/topic/please-implement-the-regenerating-of-pdf-thumbnail/

[2017-11-21 04:47] Viper007Bond commented on #48
GD doesn't support it but ImageMagick does.

[2017-11-26 00:09] davewarfel opened #49 "Number of total attachments on button changes when leaving/returning to screen"
It's a lengthy title, but I couldn't figure out how to be more succinct. Here's a screencast of what is happening:

https://www.dropbox.com/s/klcfp9ns57z8kdx/regen-thumbs-total-attachments-number-changes.mp4?dl=0

The first button that says "Regenerate Thumbnails For All 33 Attachments"... if I click a link (let's say, to jetpack.com or to learn about Photon), and then use my back button to return

[2017-11-26 02:28] Viper007Bond commented on #49
Thanks for the bug report! I can reproduce this and I'll try to figure out what's up.

[2017-11-26 05:15] davewarfel commented on #49
You're welcome. Let me know if there's anything else I can do to help... or re-test when you've implemented a fix.

P.S. I really like the auto-updating percentage displayed in the `<title>` tag. Nice attention to detail!

[2017-12-01 20:17] robertdall opened #50 "Plugin Stalls at Loading Screen"
In v3.0.0 Beta 20171118 The plugin stalls on the loading screen.

Steps I took to create the problem:

1. Downloaded zip of Regenerate thumbnails v3.0.0 Beta 20171118.
2. Upload via FTP to the staging server.
3. Network Activate
4. Go to main site (site number 1)
5. Click Regenerate thumbnails under tools
6. All I see is "Regenerate Thumbnails
Loading…"  See attached screenshot:

<img width="1120"

[2017-12-01 20:40] Viper007Bond commented on #50
The new version of my plugin is powered by Vue.js, meaning all of the page is rendered using JavaScript. If it's stuck on "Loading...", then the JavaScript isn't working.

You mentioned on Twitter that this was a multisite. Did you install to `plugins` or `mu-plugins`? I'd open the page source and look for `dist/build.js` near the bottom and make sure that the URL is correct and that the file load

[2017-12-02 00:41] Viper007Bond commented on #50
Issue was an unbuilt version of the plugin was being used, e.g. no `dist` folder with the compiled JavaScript.

[2017-12-02 00:41] #50 closed, assigned to Viper007Bond

[2017-12-03 23:39] #49 closed, assigned to Viper007Bond

[2017-12-04 18:42] robertdall opened #51 "Regeneration Log Style bug"
Once you get into the triple digits in Regeneration Log the left digit is hidden.

See Attached Screenshot:
<img width="603" alt="screen shot 2017-12-01 at 5 18 41 pm" src="https://user-images.githubusercontent.com/1909677/33569733-76875948-d8df-11e7-8d87-06ed5f53a138.png">

[2017-12-04 22:25] Viper007Bond commented on #51
Fixed. Thanks!

[2017-12-04 22:25] #51 closed, assigned to Viper007Bond

[2017-12-10 05:21] #48 closed, assigned to Viper007Bond

[2017-12-16 05:07] lkraav opened #53 "Gutenberg compatibility: "Regenerate" link for Featured image section"
Not sure if too early to file this, but sure would be nice to have. With the new REST API infrastructure in place, perhaps possible now?

[2017-12-16 07:11] Viper007Bond commented on #53
I'm assuming you're talking about adding a button to the "Featured Image" widget/module? I'm not sure it's worth adding UI bloat to Gutenberg in the form of an additional button, especially since it'll rarely be used (only when changing themes or image sizes).

Additionally the plugin can regenerate just featured images, and you can also click on the featured image to open the media dialog. You ca

[2017-12-16 07:11] #53 closed, assigned to nobody

[2017-12-18 05:31] lkraav commented on #53
Indeed, regenerating from inside Media modal works as well.

One UX issue I'm seeing is that when clicking on featured image in Gutenberg, the currently set featured image is not pre-selected in Media modal - nothing is. It feels like the current featured image should be pre-selected and auto-scrolled into view. This may have contributed to my confusion of thinking the regenerate process is compli

[2017-12-18 21:34] Viper007Bond commented on #53
I'm seeing the same thing and I think it's because the modal is designed for you to be picking a new featured image. Pre-selecting the current image might be useful -- maybe worth opening a core ticket.

[2017-12-20 22:58] Viper007Bond opened #54 "Only show update posts option if user can edit_posts"
Since the capability to use this plugin is filterable, it's possible that the current user can use this plugin but not edit the posts in question.

Or is it? Maybe the capability check doesn't happen when `wp_update_post()` is called. Look into this.

[2017-12-21 21:36] Viper007Bond opened #55 "When updating posts, ignore "size-full""
`full` isn't a thumbnail, so no need to update its HTML.

[2017-12-21 22:39] yesenarman opened #56 "jqXHR.responseJSON can be undefined"
Hello,

Thank you for the awesome plugin.

I have encountered a minor issue. On some servers errors like HTTP 500 can sometimes be returned in HTML or text format instead of JSON, even if it was AJAX request. When such an error happens on the multiple thumbnails regeneration page, the whole process stops and the console contains an error about `jqXHR.responseJSON` being undefined (sorry didn't tak

[2017-12-22 05:03] Viper007Bond commented on #56
If the regeneration request for a single attachment fails, it _should_ continue onto the next one and log the error.

I believe the only place it'll truly bail out is if it fails to fetch a chunk of attachments 3 times in a row. I'm not sure if it really should continue in that case because then 25 images are being skipped. Better to fix the issue with your server.

[2017-12-22 21:31] yesenarman commented on #56
@Viper007Bond I'm sorry, I think I wasn't clear enough.

Yes, it should. But in the case that I am talking about it doesn't, because a JS syntax error happens and the regen process stops completely.

![error](https://user-images.githubusercontent.com/1057018/34311937-d6d10e2a-e78a-11e7-9462-feb4793dfd0c.png)

I am talking about this JS error. I think it happens because error 500 was returned in HT

[2017-12-22 23:14] Viper007Bond commented on #56
Ah, gotcha! Thanks, I'll investigate.

[2017-12-23 00:03] #56 closed, assigned to Viper007Bond

[2017-12-29 20:25] nosilver4u opened #57 "skipping existing thumbs (even when it shouldn't)"
I was testing some things to make sure EWWW IO was working properly with the new version. I'm doing just one attachment at a time for testing, and I unchecked the "skip regenerating..." box to make RT recreate ALL the thumbs, but it isn't. I thought EWWW might have been messing with something, so I disabled it, and the issue persists.
I checked the timestamps on the files before and after, expecti

[2017-12-30 03:08] Viper007Bond commented on #57
If you have that unchecked, it should create new thumbnails for all currently registered thumbnail sizes. It won't generate new files for any sizes that are no longer registered even if the old thumbnail files still exist.

I even wrote a unit test to explicitly test to make sure it was working as expected:

https://github.com/Viper007Bond/regenerate-thumbnails/blob/v3.0.1/tests/test-regenerator.p

[2018-01-06 02:36] Viper007Bond opened #59 "Handle case where AJAX result is null"
Tried to fix with https://github.com/Viper007Bond/regenerate-thumbnails/commit/2d028659d6d691aa5a0aca73703a62c8bd5357cf but that's not the true issue.

See https://wordpress.org/support/topic/regenerate-thumbnails-gets-stuck-at-47/#post-9838092

[2018-01-08 08:59] idofri commented on #57
I think @nosilver4u is right.

The "Skip regenerating existing..." setting doesn't work when regenerating thumbs for single attachments.
The REST route callback method is unsuccessfully trying to get request params:
https://github.com/Viper007Bond/regenerate-thumbnails/blob/2b537fb9cf6948526406ec96de31315f4ce832ae/includes/class-regeneratethumbnails-rest-controller.php#L182-L185
but the regenerate

[2018-01-08 19:41] nosilver4u commented on #57
Yeah, I provided a pretty detailed breakdown in Slack on Friday, which confirmed the bug. Your observation is half the problem, the other half is that the REST API is not converting a string 'false' to a boolean false, and in PHP, the string 'false' evaluates to a boolean true.

[2018-01-10 08:52] idofri commented on #57
@nosilver4u could you elaborate on this subject?
in what situation exactly the string 'false' is being sent?

[2018-01-10 15:11] nosilver4u commented on #57
I tested it when regenerating thumbs for a single attachment. I don't know if the JS involved is submitting it as a string, or if PHP is failing to convert the POST variable, or if the fault lies with the REST API, since it doesn't run parse_request() like a normal front-end request would.
At any rate, it comes into the regenerate_item() method as a string, coming from the $request->get_param() ca

[2018-01-11 09:56] idofri commented on #57
In what part of the procedure have you tested it?

Have A look at the declaration of route's request args:
https://github.com/Viper007Bond/regenerate-thumbnails/blob/2b537fb9cf6948526406ec96de31315f4ce832ae/includes/class-regeneratethumbnails-rest-controller.php#L36-L40

It's being stated that these args are booleans, And later being enforced at:
[code]
https://github.com/WordPress/WordPress/blob/

[2018-01-11 17:00] nosilver4u commented on #57
I checked it in the actual regenerate method, but looking at how the args are defined (as you pointed out), I expect it will be resolved by your pull request.
I had gone about a fix a little differently, which left the args in a sub-array of the 'regeneration_args' index, so the definitions (which you pointed out) were still not lining up with the actual POST args. Not being familiar with the REST

[2018-01-11 17:39] nosilver4u commented on #57
confirmed the fix from @1do

[2018-01-17 03:24] Viper007Bond opened #62 "UTF-8 filenames aren't handled properly"
See https://wordpress.org/support/topic/doesnt-work-with-japanese-file-names/

Example: `麻美.jpg`

[2018-01-23 20:32] charpun opened #63 "Causes Media Manager To Run Slowly"
Causes media manager AJAX to timeout or run super slowly when dealing with a large number of PDFs.

[2018-01-23 20:38] Viper007Bond commented on #63
This should be fixed by https://github.com/Viper007Bond/regenerate-thumbnails/commit/fffbe23c6633ac7760e58fbe9b74a1ad95b40426 which will be included in the next release.

Can you [download the latest development version](https://raw.githubusercontent.com/Viper007Bond/regenerate-thumbnails/master/regenerate-thumbnails.php) and confirm that it fixes the issue?

[2018-01-28 03:44] #57 closed, assigned to nobody

[2018-01-28 05:33] Viper007Bond commented on #57
I misunderstood the problem before, thinking it was a backend issue and not a UI issue.

Another reason I need to get around to writing end-to-end tests so that I can test the UI too.

[2018-01-28 05:41] Viper007Bond commented on #63
#61

[2018-01-28 05:41] #63 closed, assigned to nobody

[2018-01-28 08:29] #59 closed, assigned to Viper007Bond

[2018-01-28 10:21] #62 closed, assigned to Viper007Bond

[2018-02-01 02:58] Viper007Bond opened #64 "Handle cases where there's no attachments"
The button displays 0 and the regeneration process doesn't do anything.

[2018-02-05 16:11] polczrob opened #65 "500x383 thumbs not regenerated"
Hi,

This is a great plugin, thanks for creating it!

Just one issue: I set compression to 100%, regenerated thumbs with the plugin, all versions refreshed (individual posts are OK) but all 500x383 aspect thumbs remained untouched (checked on the server), so post page picture (where this aspect is shown) are muddy. What could be the issue?

Thanks,
Robert

[2018-02-05 22:09] Viper007Bond commented on #65
If you delete the thumbnail file, does it show back up after running my plugin?

[2018-02-15 01:44] Viper007Bond opened #66 "Open attachment links in a new tab"
The attachment links in the progress log should open in a new tab to avoid losing regeneration progress.

https://wordpress.org/support/topic/suggestion-open-links-in-new-window/

[2018-03-08 13:28] danieltj27 opened #67 "Move plugin menu link into the Media section"
For consistency, I think the plugins link in the dashboard menu should be moved into the Media menu as a submenu item instead for consistency. Whilst it is a useful tool, it's specifically for managing media and seems to fit better into the dashboard flow there.

[2018-03-08 19:15] Viper007Bond commented on #67
I get where you're coming from but it's also something that most people rarely use, so it seems to better fit in the Tools menu (it is a tool after all). Plus the tool can be accessed directly from any individual media item or via the bulk actions dropdown menu.

I'm thinking it's better where it is but I'm open to further discussion. :)

[2018-03-14 20:05] stfler90 opened #68 "Regenerate Thumbnails doesn't work"
Hi, Alex. I'm using your plugin for 5 month. Evething was great! But since today it doesn't work and shows me a mistake: This tool won't be able to do anything because your server doesn't support image editing which means that WordPress can't create thumbnail images. Please ask your host to install the Imagick or GD PHP extensions.

But imagick is installed on the server. And i tried to switch to

[2018-03-15 01:00] Viper007Bond commented on #68
Try installing the Health Check plugin: https://wordpress.org/plugins/health-check/

Then go to Dashboard → Health Check → "Debug information" tab → "Media handling" subsection. It'll tell you what WordPress image editor is being used and if you have ImageMagic correctly installed.

[2018-03-16 20:24] stfler90 commented on #68
Thanks, Alex for your advise! I installed Health Check plugin, it shown that Imagick and GD PHP didn’t work really. Then i wrote my Host Support, they fixed the bug (they added one more time my account to CageFS). So now your plugin works great as always!

[2018-03-16 20:24] #68 closed, assigned to nobody

[2018-03-20 20:12] robertdevore opened #69 "Cannot regenerate thumbnails if WP_DEBUG is set to true & notices are present"
I've set up two environments (**Site A** & **Site B**), both with WP_DEBUG set to `true` in `wp-config.php`.

In **Site A** there are no notices present, and the Regeneration works flawlessly.

In **Site B** however, I have a couple of notices displaying, and the Regeneration does not work.

![screenshot-1](https://user-images.githubusercontent.com/9917957/37680112-505f1d96-2c59-11e8-9c11-878d3e8e

[2018-03-20 20:51] Viper007Bond commented on #69
I develop the plugin with `WP_DEBUG` enabled to make sure that my plugin doesn't have any normally hidden errors, so this isn't the fault of my plugin (plus it works fine on site A!).

You issue is almost certainly that you have a different plugin that is outputting errors, such as PHP notices or warnings. This is malforming the REST API response by outputting something starting with `<`.

`WP_DEB

[2018-03-20 20:51] #69 closed, assigned to nobody

[2018-03-20 21:51] Beee4life opened #70 "Feature request: regenerate images by function"
If this is an available function already, I apologise, but couldn't find anything.

Can you plz add an option to generate images, based on attachment ID ?

Something like

    regenerate_thumbnails( $attachment_id );

[2018-03-20 21:55] Viper007Bond commented on #70
[code]

Here's a real world example:

https://github.com/Viper007Bond/regenerate-thumbnails/blob/v3.0.2/includes/class-regeneratethumbnails-rest-controller.php#L166-L207

You can also just hit the REST API: `/wp-json/regenerate-thumbnails/v1/regenerate/12345`

[2018-03-20 21:55] #70 closed, assigned to nobody

[2018-03-20 21:58] Beee4life commented on #70
Respect for the quick reply. I will look at it. Appreciated.

[2018-04-04 06:21] #67 closed, assigned to nobody

[2018-04-04 06:22] Viper007Bond opened #72 "Ensure that API errors are handled for single attachments"
I don't think I ever ported the error avoidance code from multi-regeneration over to single-regeneration.

https://wordpress.org/support/topic/javascript-error-137/

[2018-05-09 21:55] #66 closed, assigned to nobody

[2018-05-20 02:24] Viper007Bond opened #74 "Skip existing may skip ones that don't actually exist"
My unit tests say the code is working fine but this user says there's an issue:

https://wordpress.org/support/topic/custom-image-size-has-red-x/

[2018-06-08 00:45] xitclub opened #75 "Generate Thumbnails for certain post types only"
It's a feature request which I think is very useful for webmasters or developers. There should be an option to regenerate images for certain post types which includes any custom post type registered.

[2018-08-01 09:47] rinseringma opened #76 "Error regenerating images"
When I try to regenerate the thumbnails it throws an error on every image:

`no decode delegate for this image format wp engine`

The site is running on WP Engine, with Offload S3 enabled. It did not occure before and I have contacted WP Engine about it, but they say the command 'wp media regenerate' is running fine in the terminal.

[2018-09-19 02:21] Viper007Bond commented on #76
How odd. We use almost identical code. Regardless, that error text isn't from my plugin, so I'm really not sure what I can do.

[2018-10-17 04:09] jay-oswald opened #77 "Wrong URL being used"
The Site Address is being used to get the Rest API endpoint, however my site has the WordPress different to the Site Address, and so the plugin just 404's all the ajax.

I am using headless WordPress, and my WordPress is on a subdomain, and the site address is set to be the front-end for the site.

e.g. WordPress is on `https://wp.example.com/` yet the site address is `https://example.com`
Regnera

[2018-10-17 21:58] Viper007Bond commented on #77
My plugin uses core's `get_rest_url()` to get the REST API URL.. I'm surprised you aren't having other issues when core tries to use the REST API for JavaScript stuff in the admin area.

I suggest you use the `rest_url` filter to set it to a value that works for you.

See https://core.trac.wordpress.org/browser/tags/4.9.8/src/wp-includes/rest-api.php#L360

[2018-10-17 21:58] #77 closed, assigned to nobody

[2018-10-18 22:52] #76 closed, assigned to nobody

[2018-12-14 23:42] Viper007Bond opened #78 "Prevent fatal error on older versions of WordPress that lack the REST API"
[code]

[2019-01-04 18:30] #78 closed, assigned to nobody

[2019-01-04 19:43] lidialab opened #81 "Missing closing em tag"
Missing closing em tag in alternativesText2 string.

[2019-01-04 19:58] lidialab opened #82 "Translation - disambiguation contex for string 'Regenerate Thumbnails'"
It will be useful to add disambiguation by contex for translation of string 'Regenerate Thumbnails'.
So it can be translated differently when it is the plugin name, when it is an action and so on.

Great plugin, thanks!

[2019-01-04 21:50] #82 closed, assigned to Viper007Bond

[2019-01-04 21:50] Viper007Bond commented on #82
Thanks!

[2019-01-04 21:55] #81 closed, assigned to nobody

[2019-01-04 21:55] Viper007Bond commented on #81
Thanks!

[2019-01-21 22:47] donaldallen opened #83 "ERROR: The current image editor cannot process this file type"
```ERROR: The current image editor cannot process this file type.```

Image is a JPG.

From WP Health Check:

[code]

I've also tried using wp-cli:

[code]

Here are some server details from WP Health Check:

[code]

[2019-01-22 01:30] Viper007Bond commented on #83
Are you _sure_ the file is actually a JPEG image? Perhaps it has the wrong file extension. The fact that WP-CLI rejects it too is informative as it has its own set of regeneration code.

[2019-01-22 15:40] donaldallen commented on #83
The mimetype that WordPress media library shows for all my client's JPG images is:

```image/x-citrix-jpeg```

Would that have anything to do with it?

[2019-01-22 16:28] Viper007Bond commented on #83
I think so. I don't recognize that MIME type. My plugin (and probably WP-CLI) tries to regenerate `image/*` rather than a whitelist as it doesn't know what the image editor supports until it has the image editor actually try to open  the file.

[2019-01-22 17:17] donaldallen commented on #83
Do you know what I could do to work around this?

[2019-01-22 17:47] Viper007Bond commented on #83
Seems like it's the result of using Internet Explorer in Citrix. Some reading here: https://stackoverflow.com/a/2600324

The file is apparently identical to a regular JPEG, so you might be able to fix it by downloading the image, opening it in your favorite image editor, and then saving it again. That might reset the MIME type but I'm not sure. If it does, then you can upload it properly.

[2019-01-22 17:47] #83 closed, assigned to nobody

[2019-01-24 15:11] donaldallen commented on #83
FYI, if anyone else comes across this problem, it seems that my client was uploading images through IE in Citrix. Very strange. So all I had to do was a find/replace in the database for ```image/x-citrix-jpeg``` and replace with ```image/jpeg``` and that did the trick!

[2019-01-31 08:26] Viper007Bond opened #84 "Add ability for user to pick sizes to be (re)generated"
This was previously discussed in #25 but I opted to just make it automatically skip correctly sized thumbnails that already existed.

However some users want to regenerate thumbnails and _skip_ certain sizes, such as not making featured image thumbnails for all attachments.

So a UI is needed to pick the sizes to (re)generate and then the plugin should merge back together the meta data.

See https

[2019-09-09 02:25] smerriman opened #86 "Unexpected behaviour when new size is larger than full image"
Suppose a site has post thumbnails set to 200x200; I change this to 600x600 and regenerate thumbnails (telling the plugin to skip correctly sized images).

If after doing so, I upload a new 400x400 image, the post-thumbnail size won't get created in the metadata (since it is too small), so when the theme calls the_post_thumbnail(), it will output the full 400x400 image.

However, if a 400x400 imag

[2019-12-24 18:30] DDvirgoman commented on #68
when I try to use the plugin Regenerate Thumbnails. I received a message "This tool won't be able to do anything because your server doesn't support image editing which means that WordPress can't create a thumbnail image ask your host to install the Imagick or GD PHP extensions" and I contact my hosting "hostinger.in.th" and they confirmed that on a server has the Imagick or GD PHP extensions.

[2020-02-06 01:09] makbeta opened #94 "PDF images don't regenerate in WordPress v5.3.2 (fix included)"
The PDF files were skipped and thumbnails weren't generating. Tracked down the issue to a function `get_fullsizepath()` on lines 130-135 in file class-regeneratethumbnails-regenerator.php. The function `wp_get_original_image_path()` will return `false` for PDF file.

The fix is to check for the false positive and fetch PDFs properly.

Code before:
[code]

Code with a fix:
[code]

[2020-03-05 20:59] alexsanford commented on #65
Closing due to inactivity.

[2020-03-05 20:59] #65 closed, assigned to nobody

[2020-03-06 14:23] alexsanford commented on #72
I'm not certain whether this was fixed for the `3.1.0` release. However, I believe that https://github.com/Automattic/regenerate-thumbnails/issues/94 has to be addressed before we can adequately test this. It's possible that when we do so, we will find that this is already fixed.

[2020-04-07 14:27] alexsanford opened #99 "Test with WordPress 5.4 and update Tested version in readme.txt"

[2020-05-05 18:47] renatho opened #100 "Create package script for deploys"
To make the deploy easier and prevent mistakes, we could create a script to generate a folder with the built plugin to upload.

Maybe we could do it based on https://github.com/Automattic/sensei/blob/master/gulpfile.js. Or create a new script for that.

[2020-05-05 18:48] renatho commented on #100
See also: https://github.com/Automattic/syntaxhighlighter/issues/147

[2020-05-07 20:57] #99 closed, assigned to jom

[2020-05-12 22:02] ddur opened #102 "Regenerating Images Edited by User."
After function "**wp_create_image_subsizes**" **scales** or **rotates** original image on upload/regenerate, and file is then **EDITED** by user (cropped/resized/flipped etc), function "**wp_get_original_image_path**" will return **ORIGINAL** image path instead of **EDITED**/attached file path. Regenerate (again "**wp_create_image_subsizes**") using **ORIGINAL** image path, will destroy **EDITED**

[2020-05-13 12:13] ddur commented on #86
AFAIK, WP 5.3 and above will clear all metadata[sizes] on upload and on regenerate

[2020-05-13 14:46] alexsanford commented on #102
Thanks for the report!

Could you add some clear steps for how to reproduce and see this issue? Here is what I am doing:

- Upload an image.
- Generate thumbnails.
- Edit the image (rotate, flip, etc).
- Regenerate the thumbnails.

It seems when I do that, the new thumbnails are fine, and the old files from before the edit are also still on the server with a different name.

[2020-05-13 21:12] ddur commented on #102
That is correct, but you are missing one step mentioned above (**scale** or **rotate**) that will set $image_meta['original_image']. When $image_meta['original_image'] is set, "**wp_get_original_image_path**" will return uploaded image instead of currently attached image. Which is OK when image is not further edited by user. Original image will be again (optionally) scaled or rotated and attached

[2020-05-13 23:05] smerriman commented on #86
No, this is nothing to do with the WP version (it would in fact be very bad if it cleared the metadata in general, since it's often important to have unregistered sizes).

[2020-05-14 17:06] ddur commented on #86
https://github.com/WordPress/WordPress/blob/618329a7504958c58b2bd9898bdd8c49d65d386e/wp-admin/includes/image.php#L239

[2020-05-14 21:17] smerriman commented on #86
This is a bug report for the Regenerate Thumbnails plugin. It adds the sizes back in after calling the core WordPress function:

https://github.com/Automattic/regenerate-thumbnails/blob/master/includes/class-regeneratethumbnails-regenerator.php#L199

As mentioned, adding these sizes back is a vital part of the plugin - for example, at the point you upload a Site Icon to WordPress, it adds some squ

[2020-05-22 02:10] roundhill opened #103 "Support for .webp images?"
Does the plugins support images in the newer webp format? A user on the forums is stating that it skips them:

https://wordpress.org/support/topic/translafer-webp-image/

[2020-05-22 02:12] roundhill opened #104 "Old (scaled) images not reset if `big_image_size_threshold` increased or removed"
Reported at: https://wordpress.org/support/topic/old-scaled-images-not-reset-if-big_image_size_threshold-increased-or-removed/

[2020-05-29 23:05] ddur commented on #102
@alexsanford Feedback is here. Any question?

[2020-06-11 15:50] alexsanford commented on #102
Hi. Thank you for the feedback, and sorry for the delay.

Can you elaborate clearly on how to do this, from the UI, in a way that causes this issue to be seen?

As per my [steps above](https://github.com/Automattic/regenerate-thumbnails/issues/102#issuecomment-628039647), I am editing the image, both scaling and rotating. I appreciate your description of what is happening in the code, as that will

[2020-06-12 16:55] alexsanford commented on #103
We support the formats that are supported by WordPress, and it appears that webp is not supported yet.

Here is a forum thread on the topic, with some links to trac issues at the bottom - https://wordpress.org/support/topic/add-support-webp-format-imge/

Closing as this is not something we can currently fix on our end.

[2020-06-12 16:55] #103 closed, assigned to nobody

[2020-06-24 15:00] renatho opened #105 "Showing incorrect duration after running the regeneration"
There is an issue while showing the time duration after running the regeneration.

I tested and for a result in +1 minute, I had the following feedback:

<img width="303" alt="Screen Shot 2020-06-24 at 11 58 03" src="https://user-images.githubusercontent.com/876340/85580298-fb988f00-b611-11ea-8025-da441fb78288.png">

A [user reported](https://wordpress.org/support/topic/wrong-time-indication/) tha

[2020-06-24 15:41] kunal13053 commented on #105
Hello, Can I work on this?

[2020-06-24 17:58] renatho commented on #105
Hey @kunal13053!

Sure! Feel free to create a PR with the solution! It's always a pleasure to receive contributions from the community!

[2020-07-02 11:38] simplenotezy commented on #104
We have the same issue. It looks for: /uploads/2020/06/005612-4-24x24.jpg rather than /uploads/2020/06/005612-4-scaled-24x24.jpg. I guess regenerating the thumbnails could fix the issue

[2020-07-16 11:48] ddur commented on #102
@alexsanford

Here is the simpler version even for occasional programmers to understand:

### Test case 1, Step 1

**As first step, just upload JPEG image that is larger than your current setting for 'big_image_size_threshold' (default is 2560 pixels). That would trigger automatic _SCALING_ of image, on upload (see function wp_create_image_subsizes() in image.php).
Make sure that your 'big_image_s

[2020-07-16 14:55] alexsanford commented on #102
Thank you. I was able to reproduce this with the following steps on a default WordPress 5.4.2 installation with the following steps:

- Upload a large JPG image. One dimension must be higher than 2560. It must be a JPG, not a PNG (it's possible that other formats have the same problem).
- Edit the uploaded image (rotate or flip will make it most obvious).
- Regenerate thumbnails for the image usin

[2020-07-17 10:23] ddur commented on #102
Actually, WP code was designed only for upload, never actually designed to allow for regenerate, nor (re)designed be compatible with regenerate functionality plugins, or CLI.

WP version >= 5.3 just made it much worse & harder for regenerate function.

[2020-08-04 06:48] ddur commented on #102
@alexsanford
@yscik

1) I really doubt that this will be soon or ever fixed within WordPress code, because either of:
a) Fixing would require removal of 'scaling' and 'rotating' functionality around "big_image_size_threshold" filter. Only disabling "big_image_size_threshold" filter for 'scaling' would be partial solution because won't fix same issue for 'rotating'. BTW, automatic 'rotating' is imp

[2020-08-17 18:27] alexsanford opened #108 "Restart a failed regeneration process"
On a large site with many images, if the thumbnail regeneration process fails partway through, it needs to be restarted from the beginning. It would be helpful to be able to restart the process from where it failed.

See [this forum thread](https://wordpress.org/support/topic/feature-request-recovery-from-previous-batch-conversion-that-failed-mid-way/).

[2020-09-04 14:55] ddegner commented on #104
Also same issue.  I'm trying to figure out how to either serve the original image or regenerate the "scaled" image to a larger version, but no luck yet.

[2020-09-07 15:09] ddegner opened #109 "Force regeneration of -scaled.jpg images?"
While developing my wordpress site I had the "Disable "BIG image" Threshold" plugin installed half the time.  So half of my images had a -scaled.jpg version and half didn't.

I found the default -scaled.jpg size to be too small so I want to use the "Regenerate Thumbnails" plugin to regen all the images to have a -scaled version.  I removed the "Disable "Big Image"" plugin and added this to my <em>

[2020-09-14 14:42] timnolte opened #110 "SVGs Deleted from File System when Delete Unregistered Sizes Used"
This issue has been opened and explained/tested her: https://wordpress.org/support/topic/all-svg-files-were-removed-after-plugin-work/

From the Forums:
----
Here is the reproduce bug way:

1) Add SVG to Uploads in the normal way.

2) Regenerate all thumbnails with unchecked both:
[ ] Skip regenerating existing correctly sized thumbnails (faster).
[ ] Delete thumbnail files for old unregistered si

[2020-10-21 17:05] techbizblog commented on #83
The current image editor cannot process this file type. i am using Newspaper theme in Wordpress. I have uploaded all webP images but not showing in thumbnail in website. i have also added feature image. When I open a particular post it is showing. but not showing in website category .

[2020-10-26 17:22] alexsanford commented on #110
Fixed in #111, to be released in [version 3.1.4](https://github.com/Automattic/regenerate-thumbnails/milestone/6).

[2020-10-26 17:22] #110 closed, assigned to nobody

[2020-10-26 17:25] alexsanford opened #114 "Incorrect number of attachments on "Regenerate Thumbnails For All X Attachments" button"
There seems to be a race condition in the JS code on the Tools > Regenerate Thumbnails page that causes the button to display the incorrect number. When I refresh this page, sometimes the correct number appears, but often it does not.

<img width="397" alt="Screen Shot 2020-10-26 at 14 22 50" src="https://user-images.githubusercontent.com/842193/97206032-20636580-17b0-11eb-8ecf-5cbcc7572397.png">

[2020-12-23 01:16] ThinkWired commented on #104
+1 This is a must have, to fix the 5.3 debacle.

[2021-01-20 11:28] #114 closed, assigned to nobody

[2021-05-24 18:04] renatho opened #124 "Update the content of posts to use the new sizes"
Currently the option "Update the content of posts to use the new sizes" is disabled because it didn't work properly. It needs to be fixed and then enabled again.

The option was disabled here: https://github.com/Automattic/regenerate-thumbnails/commit/6d4300df1a49d79398fbdfe0cb996e145c72a139
More details of the issues: https://wordpress.org/support/topic/images-replaced-in-posts-all-wrong/

[2021-05-24 19:37] renatho commented on #104
Another report for this issue here: https://wordpress.org/support/topic/doesnt-regen-scaled-jpg-large-threshold-images/

[2021-05-24 19:52] renatho opened #125 "Improve support to WPML"
Improve plugin support with WPML.

More details reported here: https://wordpress.org/support/topic/regenerate-thumbnail-doesnt-work-fine-with-wpml/

[2021-05-24 19:54] renatho commented on #109
Closing this issue as duplicated to https://github.com/Automattic/regenerate-thumbnails/issues/104

[2021-05-24 19:54] #109 closed, assigned to nobody

[2021-07-01 19:52] renatho commented on #75
Related [request](https://wordpress.org/support/topic/regenerate-images-per-post/) in the forum. But they additionally ask for a bulk selection.

[2021-07-02 02:36] ddegner commented on #104
I'd like to give this another bump to this bug.  The plugin is only hobbling along until this is fixed.  Most users probably just don't realize that it isn't working until much later.

[2021-07-08 07:26] md-shuvoislam commented on #68
I got the same issue with my local host. how can I fix that?

[2021-07-21 23:28] renatho commented on #103
Support to webp introduced in WP 5.8:
https://make.wordpress.org/core/2021/06/07/wordpress-5-8-adds-webp-support/

[2021-08-13 16:26] cl0udres commented on #125
Is there some update here? As explained on the support page, the compatibility with WPML is very limited, due the fact that regenerating an image of the default language the plugin doesn't regenerate the others pictures used with WPML for other languages. So the result is that we have a "new" image on the default language and the same old image with other languages.

Thanks.

[2021-08-13 17:52] renatho commented on #125
No updates for now! Currently, we're focusing on more critical items. Since it's an Enhancement, we don't have an idea of when we'll get that.
But if someone from the community is interested in contributing to this issue, it would probably accelerate this! 😊

[2021-11-04 00:32] DrIanGregory commented on #68
I can confirm the following commands on Ubuntu 20.04 FIXES the issue:

sudo apt-get install -y php-gd
sudo systemctl restart apache2

"Refresh WordPress in web browser".

[2021-12-07 11:46] SeanAUS120 commented on #104
1 year later and there is still no way to "revert" back to the original images. What a horrifying feature from Wordpress.

[2021-12-21 20:19] vijayhardaha commented on #102
Any update on this issue?

[2022-01-02 20:10] ddur commented on #102
@vijayhardaha

Regenerate images with [Warp iMagick plugin](https://github.com/ddur/Warp-iMagick) installed and it will be OK.

[2022-01-03 14:12] renatho commented on #102
There is another report about this issue in [the forum](https://wordpress.org/support/topic/it-was-good-now-it-needs-to-be-updated/), with a suggestion to skip edited images.

[2022-02-19 23:05] ddur commented on #102
Hi @renatho

[Same as suggested at the post here, point 2.a), two years ago](https://github.com/Automattic/regenerate-thumbnails/issues/102#issuecomment-668413516)

[2022-03-26 20:12] gamebits commented on #104
I use this snippet to disable scaling:

[code]

No `-scaled` version of the file is created when it's first uploaded. But after I regenerate thumbnails, the original file is renamed to `-scaled` and can't be renamed back.

Screencast:

https://user-images.githubusercontent.com/12199101/160255537-18543516-6128-4825-ad45-ddc2dffa0b22.mp4

[2022-03-30 23:09] Erudition commented on #83
For me, it was using the custom WP file types plugin, and disabling wordpress internal checks (so that I can upload whatever I want, on a site I'm sole developer). Going back to Wordpress rules made the thumbnails work, which was necessary even after I fixed 65 "citrix" images using @donaldallen 's trick.

[2022-06-01 20:08] bkjproductions commented on #94
The code indicated by @makbeta above seems to work for **Regenerate Thumbnails** version 3.1.5 as of 2022-06-01 (using WordPress version 6.0).

However, to regenerate a thumbnail for a PDF in the Media Library, you can only do that if you use the **Bulk Actions** in the Media Library and have selected a PDF using the checkbox. (That is, the option to regenerate a PDF thumbnail does NOT appear when

[2022-07-22 14:43] SeanAUS120 commented on #104
2 years later. Did anyone come up with a solution to remove the existing -scaled images?

[2022-07-27 20:40] ddur commented on #104
@SeanAUS120
Try with this plugin:
https://github.com/ddur/Warp-iMagick

[2022-07-27 23:43] ddegner commented on #104
I used to use the Warp-iMagick app, but the owner sold out about 5 months ago, and it is now trojaned.  Avoid at all costs.

[2022-07-28 03:36] ddur commented on #104
@ddegner

BS. I'm original author and still owner. No trojans if you got the unmodified plugin from the original link.

If you want to know what actually happened, read here the full story:
https://community.wordops.net/d/1297-convert-jpegpng-to-webp-on-demand-on-the-fly-for-wordops/23

[2022-07-28 03:52] ddur commented on #104
@ddegner

While plugin was available from WordPress repository, A2 hosting used to distribute and install plugin automatically to a2 WordPress hosting buyers. Without my knowledge and without my consent, but that is how GPL license works.

Where did you get that disinformation and lies?

[2022-07-28 04:51] ddur commented on #104
BTW only one member of plugin review "team" is paid by another hosting "dream-host"
See the "case study" here: https://wordpress.org/five-for-the-future/

How the single member "team" monopoly (paid by dream host) over plugin repository started?
Unbelievable post from 2014: https://make.wordpress.org/plugins/2014/11/03/post-summit-status/

Comment from (then) team member in 2014: https://make.word